@use "./_variables.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: $color-very-dark-grey;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overscroll-behavior: none;
}

.btn {
  background: $color-neon-green;
  border: 1px solid $color-neon-green;
  outline: none;
  color: $color-dark-grey;
  text-transform: uppercase;
  width: 100%;
  padding: 1rem;
  & path {
    fill: $color-dark-grey;
  }

  @media (hover: hover) {
    &:hover {
      color: $color-neon-green;
      background: $color-dark-grey;
      & path {
        fill: $color-neon-green;
      }
    }
  }

  &:active {
    transform: scale(0.98);
    color: $color-neon-green;
    background: $color-dark-grey;
  }
}
